.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
}

.account-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.account-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.account-amount-description {
    margin: 0;
}

.account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

.account-content-wrapper {
    width: 100%;
    flex: 1;
}

.transactions {
    width: 100%;
}

.transactions-header {
    padding-left: 1rem;

    p {
        padding-left: 0.5rem;
    }

}

.transaction {
    background-color: #00bc77;
    color: #fff;
    width: 100%;
    padding-left: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;

}

.grid-template {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
    margin-bottom: 1rem;
}

.transaction-open-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    background-color: #00bc77;
    border: none;
    cursor: pointer;
}

.transaction-icon {
    color: #fff;
    background-color: #00bc77;
    border: none;
    cursor: pointer;
}

@media (min-width: 720px) {
    .account-card-header {
        flex-direction: row;
    }

    .account-content-wrapper.cta {
        flex: 0;
    }
}