.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
}
.account-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.account-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.account-amount-description {
    margin: 0;
}

.account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

.account-content-wrapper {
    width: 100%;
    flex: 1;
}

.transactions {
    width: 80%;
    thead{
        tr{
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (min-width: 720px) {
    .account-card-header {
        flex-direction: row;
    }

    .account-content-wrapper.cta {
        flex: 0;
    }
}